# Certificate section
# Handle certificate import
{% if winrm_certificate_thumbprint %}

Write-Host "Add it to our listener WSMan:\LocalHost\Listener"
New-Item -Path WSMan:\LocalHost\Listener -Transport HTTPS -Address * -CertificateThumbPrint "{{ winrm_certificate_thumbprint }}" -Force

{% endif %}

# touch a file to mark it we reach here. This scripts is meant to run once only.
echo $null >> {{ ansible_install_dir }}\win_base-custom-setup.hasrun

{% endif %}
# End section handle certificate import
